.header
  = render "header"
.wrappar
  .side-bar
    = render "add-to"
    = render "processes"
  .contents
    .contents__search
      = render "search"
    .contents__contacts
      = render "contacts"
    .contents__footer
      = render "footer"